header
    position: fixed
    top: 0
    width: 100%
    z-index: 2
    background-color: hsl(0, 0%, 35%)
    color: hsl(0, 0%, 96%)

    h1
        font-size: 1.3rem

    .icon
        display: inline-block
        margin-right: 15px
        font-size: 1.2rem

.container
    & > div
        display: flex
        padding: 0.3rem
