html
    font-size: 13px

    &.has-navbar-fixed-top
        padding-top: 7.5rem

.pagination
    margin: 0

.pagination-previous
    display: none

.pagination-next
    display: none

.pagination-link
    &.is-current
        color: #4a4a4a
        background-color: whitesmoke
        border-color: whitesmoke

//.has-hidden-thead
//    table
//        thead
//            display: none
//
//        tbody
//            tr
//                &.tracker-row
//                    td:nth-child(1)
//                        display: none

    .has-hidden-pagination-arrows
    //.pagination-previous
    //    display: none

    //.pagination-next
    //    display: none

//.pagination
//    margin: 0

.tab-content
    .tab-content
        padding: 0.8em 0 0

span
    label
        font-size: 0.85rem
        color: #aaa

.is-sub-tab
    table
        &.is-narrow
            background-color: inherit
            font-size: 0.9rem

            td
                padding: 0.12em 0.3em
                border: 0

                &:first-child
                    width: 1%
                    white-space: nowrap
                    text-align: right
                    font-size: 0.85rem
                    color: #aaa
                    vertical-align: inherit
