.table-wrapper
    overflow-y: hidden

.tracker-row
    &:hover
        .is-white
            background-color: whitesmoke

    td
        cursor: pointer

        .tags
            flex-wrap: nowrap


    td:nth-child(1)
        display: none

    td:nth-child(2),
    td:nth-child(3),
    td:nth-child(4),
    td:nth-child(5)
        width: 100px

    td:nth-child(6)
        white-space: nowrap
        overflow: hidden
        div
            &.tags
                width: 250px

    td:nth-child(7),
    td:nth-child(8),
    td:nth-child(9),
    td:nth-child(10),
    td:nth-child(11),
    td:nth-child(12),
    td:nth-child(13),
    td:nth-child(14)
        width: 1px
        white-space: nowrap

.b-table
    .table
        &.has-mobile-cards
            tr:not(.is-empty):not(.table-footer)
                td
                    flex-direction: column

                    &.tracker-summary
                        text-align: left

        .detail-container
            min-height: 250px
            max-height: 70vh
            overflow-y: scroll
